body{

    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

.dummy{

 float: left; 
 width: 60%; 
 height:24px;

}

.nav{

    width : 319px;
    height : 24px;
    left : 1000px;
    top : 37px;
    float: right;
    margin-right: 15%;
}

.nav ul li{
  display: inline;
  padding: 3%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  
}


.split-half{
  
  width: 40%;
  float:left;
  margin-left: 1%;
  padding: 2%;


 

}

.split-half h1{

    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 80px;
    font-weight: 600;

}

.split-half h2{

  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  color: #363958;
  font-weight: 600;
  padding-bottom: 60px;
}


.dark{

  color : #363958;
}

.light{


  
  color : #FF8367;
}


.split-half p{

  position: relative;
  top: -50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  

}

.split-half img{
   
  width: 100%;

}

.content{

  margin-left: 125px; 
}

#pf{
  width: 90%;
  height: 90%;
  margin-left: -38px;
  margin-top: 30px;

}

.btn{
  text-decoration: none;
  color : white;
  padding: 20px 40px;
  background-image: linear-gradient(0deg,#FF8367, #F46060 95.83%);
  border-radius:6px;
 

}

#about-pic{

  
  margin-top: -50px;


}

#about-pic img{

  width: 80%;
  margin-left: 100px;
}



section{

  height: 700px;
}
.latest-work{

  width: 100%;
  background-color:#E5E5E5; 
  text-align: center;
}

h2{

  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
}

.work{

  position: relative;
  top:100px;
  width: 80%;
  height:50px;
  margin: auto;
  

}

.portfolio{

  position: relative;
  top: 90px;
  width: 80%;
  height:500px;
  margin: auto;
  

}

.card{

    position: relative;
    top:10%;
    left:2.5%;
    width: 26%;
    float: left;
    margin-left: 0.3%;
    padding : 2%;
    margin-right: 2%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(67, 68, 68);

}

.card-image {
  width: 100%;
  border-radius: 5px;
}

.card-container {
  padding: 2px 16px;
  background-color: #fff;
  border-radius: 5px;
}

.subscriptions{

  background-color: #fff;

}

.rectangle{

  position: relative;
  width : 906px;
  height: 225px;
  margin: 0 auto;
  top: 22%;
  background-image: url("shapes/rec.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;


}

.query-title{

  position: relative;
  top: 30%;
  width: 40%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

.query-chat{

    position: relative;
    top: 35%;
    width: 40%;
    height: 100px;
    display: inline-block; 
    float: right;
    
}
#chat{

    position: relative;
    top: 25%;
    left: 45%;

}

#title{

    position: relative;
    top: 10%;
    left: 9%;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 64px;
    font-weight: 700;

}

.social{

    width: 50%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:30%;

}

.social-title{

    width: 100%;
    font-family: 'Bebas Neue';
    font-weight: 500;
    font-style: 24px;
    color: dimgrey;
}

.social-mail{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #363958;
}

.social-icon{
    
    width: 38%;
    min-height: 50px;
    margin: 0 auto;
}

.sc1, .sc2, .sc3{

  display: inline-block;
  padding: 2%;
}

.sc1 img, .sc2 img, .sc3 img{

   width: 30px;
   height: 30px; 

}

.skills{

    background-color: #E5E5E5;
}

.skill-title{

    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 80px;
  
}

.skill-desc{

  width:40%;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top:70px;
  padding: 2%;
}

.sk1{

  position: relative;
  width: 100px;
  height: 100px;
  float:left;
  margin-left: 5%;
  top:15%;
  left:25%;
  border-radius: 50%;
  

}

.sk1 img{

  width: 100%;


}



#wrapper{
  position: relative;
  right:36%;
  padding-left: 11%;
 
}

.service{

  margin-top: 80px;
  width: 100%;
  

}

#service1{

   border-radius: 10px;
   width: 85%;
   margin-left: 15%;
   text-align: right;
   box-shadow: 10px 10px 40px gray;
   padding: 2%;
}

#service2{

  border-radius: 10px;
  width: 85%;
  margin-left: 8%;
  text-align: left;
  box-shadow: 10px 10px 40px gray;
  padding: 2%;
}